*{
    padding:0;
    margin:0;
}
ul{
    list-style: none;
    padding:0 !important;
}
header video{
    min-height: 100%;
    min-width:100%;
    position: fixed;
    z-index:-1;
}
header .overlay{
    background-color: rgba(255, 255, 255, 0.7);
}
header .brand{
    padding-top:40px
}
header .header-text {
    padding-top:190px;
}
header .header-text h1{
    font-size: 36px;
    margin-bottom: 40px;
    line-height: 45px;
    color:#555555;
}
header .header-text  p{
    font-size: 20px;
    line-height:#555555;
    margin-bottom:50px;
}
header .header-button a.btn{
    padding:23px 55px;
    background-color: #7936b2;
    color:#fff;
    margin-right:15px;
}
header .header-button a.btn:last-child{
    background-color: transparent;
    color:#7936b2;
}
header .product{
    position: relative;
    margin-bottom: 34px;
}
header .product .product-img img{
    width:100%;
}
header .product .product-label{
    position: absolute;
    top: -34px;
    left: -13%;
}
header .product .product-label p{
    position: absolute;
    top:50px;
    left:50px;
}
section.features{
    padding:70px 0px;
    background-color:#fff;
}
section.features .features-title h2{
    font-size:36px;
    line-height:32px;
    color:#555555;
    padding-bottom:45px;
    position: relative;
}
section.features .features-title h2::after{
    content: "";
    width:150px;
    height:2px;
    position:absolute;
    background-color:#743e9a;
    top: 50px;
    left:50%;
}
section.features .media-features .d-flex{
    padding:30px 0;
    border-bottom:3px ;
    border-bottom: 3px solid #eee;
}
section.features .media-features .d-flex:nth-child(even){
    direction:rtl;
}
section.features .media-features .d-flex img{
    margin:0 70px;
}
section.features .media-features .d-flex h4{
    font-size:36px;
    font-weight: bold;
    padding:0 12px;
    padding-bottom:20px;
    color:#6a3093;
    border-right:2px solid #6a3093;
}

section.features .media-features .d-flex:nth-child(odd) h4{
    border-right:0;
    border-left: 2px solid #7936b2;
}
section.features .media-features .d-flex p{
    font-size: 16px;
    line-height: 30px;
    color: #555;
}
/*  Start prices */
section.prices{
    padding:50px 0  60px;
    background-color:#f7f7f7 ;
}
section.prices .prices-text h2{
    font-size: 30px;
    color:#555555;
}
section.prices .plan-card{
    background-color:#fff;
    border:2px solid #dedede;
    padding:15px 0;
    margin-top:100px;
    color:#a9a9ab;
}
section.prices .plan-card span.title{
font-size: 20px;
color: #a044ff;
}

section.prices .plan-card  h5{
    font-size: 48px;
    margin:30px auto;
}
section.prices .plan-card  h5 span{
    font-size: 14px;
    vertical-align: baseline;
}
section.prices .plan-card ul li{
    font-size: 15px;
    margin-bottom:30px;
}
section.prices .plan-card a.btn{
    border:2px solid #7233a2;
    background-color: #fff;
    color: #7233a2;
    padding: 10px 40px;
    border-radius: 0;
    transition: 0.5s all ease;
}
section.prices .plan-card a.btn:hover{
    background-color: #7233a2;
    color:#fff;

}
section.prices .col-md-6:nth-child(3) .plan-card{
    padding-top:70px;
    margin-top:73px;
}
section.prices .col-md-6:nth-child(3) .plan-card a.btn{
    background-color: #7233a2;
    color:#fff;
}
/*  End prices */
/* Start Popular */
section.faq{
    padding:60px 0;
    background-color: #fff;
}
section.faq-title h2{
    font-size: 30px;
    color:#555;
    margin-bottom: 55px;
}
section.faq .accordion .accordion-item{
    margin-bottom: 15px;
    border:2px solid #ebebeb;
    border-radius: 0px;
}
section.faq .accordion .accordion-item button{
    font-size: 20px;
    color:#555;
    font-weight: bold;
}
section.faq .accordion .accordion-item .accordion-body{
    font-size: 16px;
    color:#c9c9c9;
    line-height:25px;
}
section.faq .accordion .accordion-item  .accordion-button:not(.collapsed){
    background-color: #fff;
}
section.faq .accordion .accordion-item  .accordion-button:focus{
    border:0 !important;
    box-shadow:0 0 0 !important ;
}
/* End Popular */
/*  Start Video */
section.videos{
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
section.videos .video{
    min-height: 100%;
    min-width:100%;
    position: absolute;
    top:0;
    left:0;
}
section.videos .overlay{
    background-color: rgba(133, 77, 178, 0.9) !important;
    min-height: 100%;
    position: absolute;
    inset: 0;
}
section.videos .overlay button{
    position: absolute;
    bottom:45%;
    right:50%;
    font-size: 30px;
    color:#fff;
    background-color:transparent;
    border:0;
    transform: translate(50%, 50%);
}
section.videos .overlay button i{
    padding-right:14px;
    padding-left: 16px;
    padding-top:12px;
    padding-bottom:12px;
    border-radius:50%;
    border:1px solid #efefef;
}
/*  End Video */
/*  Start Contact  */
section.contact{
    padding:60px 0 40px;
    background-color:#000;
}
section.contact h4{
    font-size: 20px;
    color:#758594;
    line-height: 50px;
}
section.contact form input,
section.contact  form textarea{
    display:block;
    margin-bottom: 10px;
    background-color:#242424;
    line-height:36px;
    color:#aeadad;
    border:none;
}
section.contact  form button{
    font-size:20px;
    padding:10px 20px;
    background-color: #a044ff;
    color:#fff;
    border:none;
    border-radius:3px;
}
section.contact  form button i{
    margin-left:5px;
}
section.contact  form .invalid-feedback{
    margin-top: -15px;
    margin-bottom:15px;
}

section.contact .blog-link{
    text-decoration: none;
}
section.contact .blog .d-flex {
    margin-bottom: 15px;
}
section.contact .blog  h5{
    font-size:20px;
    color: #aeaeae;
    margin-bottom: 15px;  
}
section.contact .blog  p{
    font-size:15px;
    line-height: 20px;
    color:#737373;
}
/*  End Contact  */

/*  Start Footer */
footer{
    background-color: #1d1d1d;
    padding:25px 0;
}
footer .list-inline .list-inline-item a{
    width:50px;
    height:50px;
    line-height: 50px;
    display: block;
    color:#1d1d1d;
    background-color:#758594;
    text-align: center;
    border-radius: 50%;
    transition: .6s all ease;
}
footer .list-inline .list-inline-item a:hover{
    background-color:#1479ec;
}

footer .copyright{
    font-size: 17px;
    color:#919191;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*  End  Footer */

/*  Start Media */
@media(max-width:992px){
    header .header-text{
        padding-top:70px !important;
    }
}

@media(max-width:768px){
    header .overlay .product{
        margin-top:100px;
    }
    header .overlay .product .product-label img {
        right: 50%;
        transform: translateY(21px);
    }
    header .overlay .product .product-label p {
        right: 38% !important;
        transform: translateY(18px) !important;
    }
    header .product .product-label {
        position: absolute;
        top: -48px;
        left: -8%;
    }
    section.features .media-features .d-flex{
        flex-flow: column;
        text-align: center;
    }
    section.features .media-features .d-flex img{
        margin:0 auto 50px;
    }
    section.features .media-features .d-flex h4{
        border:none !important;
    }
    section.contact h4{
        margin-top: 50px;
    }
}

@media(max-width:576px){
    footer{
        text-align: center;
    }
    footer .copyright{
        text-align: center;
    }
  
}

/*  End Media */